.but-back{
    height: 40px;
}

.line2-custom {
    opacity: 100%;
    border: none;
    border-top: 2px solid #222529;
    width: 90%;
    margin-bottom: 0;
}

.circle-custom{
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-family: "lor", serif;
    background-color: #5c636a;
}

.circle-custom-big{
    height: 70px;
    width: 70px;
    font-size: 30px;
    background-color: #73a573;
}

.circle-custom-big:hover {
    height: 70px;
    width: 70px;
    font-size: 30px;
    background-color: #58bd58;
}

.circle-custom:hover {
    background-color: #5c636a;
}

.circle-box-custom{
    width: 50px;
}


.cart-product{
    margin-bottom: 20px;
    background: #e3e3e3;
    border-radius: 10px;
    min-height: 80px;
}


.cart-prod-txt{
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cart-prod-cost{
    padding-right: 30px;
    padding-top: 5px;
    font-size: 26px;
}

.fa-xmark{
    padding-right: 20px;
    font-size: 20px;
    opacity: 75%;
}

.cart-slider{
    margin-top: 50px;
}

/*cart_page_2*/
.cart-slider::-webkit-scrollbar {
    display:none;
}

.total-custom{
    height: 70vh;
    width: 70%;
    min-width: 300px;
    background: #aeaeae;
    min-height: 430px;
}

.cart-pg{
    margin-top: 50px;
    padding-top: 20px;
}

.arrow-custom{
    width: 40px;
    background: transparent;
    border:none;
    margin-bottom: 15px;
}

.arrow-custom:hover{
    background: transparent;
}


.cart-slider::-webkit-scrollbar {
    display:none;
}

.cart-product-small{
    margin-bottom: 20px;
    background: #e3e3e3;
    border-radius: 10px;
}

.cart_text {
    max-width: 500px;
}


.btn.disabled{
    opacity: 0.3;
}

.txt-custom{
    margin-top: 5px;
    font-size: 15px;
}

.txt-custom2{
    width: 80px;
}

