.breadcrumb {
    --bs-breadcrumb-divider-color: var(--font_color);  /* Farba oddeľovača */
}

.breadcrumb-item a {
    color: var(--font_color) !important; /* Zmení farbu odkazov */
    text-decoration: none; /* Odstráni podčiarknutie */
}

.border-custom {
    border-color: var(--header_color);
    border-width: 10px !important;
    height: 100%;
    max-height: 70vh;
    aspect-ratio: 9/10;
}

.rating-color {
    color: #c5674b !important;
}

.rating-color{
    color: #ffffff !important;
}

.rating-color2{
    color: #000000 !important;
}

.detail_large_text {
    font-size: 48px;
}

.reviews::-webkit-scrollbar {
    display: none;
}

.overflow-y-scroll::-webkit-scrollbar {
    display:none;
}

.main-f-custom{
    color: var(--font_color);
}

.img-big{
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-width: 600px;
}

.card-img-custom{
    max-width: 250px;
}
