.line-custom{
    border-right: 1px solid #eaeaea;
    padding: 10px;
}

.side-filter-custom{
     padding: 2%;
     width: 260px;
     color: var(--font_color);
 }

 .main-f-custom{
     margin: 5px;
     color: var(--font_color);
 }

.thumb-custom::-webkit-slider-thumb {
     background: var(--slider-thumb);
 }

 .rating-color{
     color: #ffffff !important;
 }

 .rating-color2{
     color: #000000 !important;
 }

 .form-check-input {
     appearance: none;
     position: relative;
     border: 2px solid var(--login_color);
 }

 .form-check-input:checked {
     background-color: var(--login_color);
     border-color: var(--login_color);
 }

 .form-check-input:checked::before {
     content: "✓";
     color: var(--category_color);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .form-check-input:focus {
     outline: 2px solid var(--login_color);
     box-shadow: 0 0 4px var(--login_color);
 }

.float-filter-custom{
    margin-left: 10px;
    width: 60px !important;
    height: 60px !important;
}

.off-custom{
    width: 300px !important;
}

.products-card{
    width: 100%;
    aspect-ratio: 2/3;
}

.prod-row > *{
    margin-bottom: 3%;
}

.prod-row{
    margin-top: 10%;
}

.prod-row a{
    text-decoration: none;
}

.r-custom{
    position: relative;
}
.r-custom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(23, 26, 28);
    z-index: -1;
}

.r-custom .card{
    background: rgba(128, 128, 128, 0.71);
    height: 100%;
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70%;
}

.card-photo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.favorite-btn, .cart-btn {
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.favorite-btn{
    background: #8c2323;
    top: -10px;
    right: -10px;
}

.cart-btn{
    background: #0a53be;
    top: 40px;
    right: -10px;
    font-family: "Times New Roman", serif;
}


.favorite-btn:hover p, .cart-btn:hover p{
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.favorite-btn p, .cart-btn p{
    padding-top: 15px;
    color: var(--font_color);
}

.t1-custom{
    margin: 0;
    color: var(--card_font_color);
}

.t2-custom{
    margin: 0;
    color: var(--font_color);
}

.products-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-custom {
    margin: 0 10px;
    padding-top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 140px;
}

.t2-hv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: auto;
}

.dark-custom .page-link {
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
}

.sort-custom *{
    padding: 4px 10px;
}

.sort-custom{
    margin-left: 20px;
    margin-right: 10px;
}

.sort2-custom *{
    padding: 0;
}

.div-c1{
    padding-top: 60px;
}

.title-filter{
    color: var(--font_color);
}

#quantityInput::-webkit-outer-spin-button,
#quantityInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#quantityInput {
    -moz-appearance: textfield;
}


