/* ------------------ main ------------------ */

.main{
    z-index: 100;
}

.grad{
    height: 70vh;
}

@media (max-width: 768px) {
    .grad img{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .grad img{
        width: 70%;
    }
}


.grad h1{
    z-index: 1;
}

.produkty-container {
    overflow-x: auto;
    height: 350px;
}


.produkt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 300px;

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;

    background: var(--card_color);
    border-radius: 10px;
    flex-shrink: 0;
}


.zlava{
    margin-bottom: 20px;
}

.produkty-container::-webkit-scrollbar {
    display: none;
}

.background-image {
    margin-left: 12%;
}

.pas::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(23, 26, 28);
    z-index: -1;
}

.pas{
    position: relative;
    display: flex;
}

.sirka{
    width: 180px;
}

.input-plus-minus{
    max-width: 50px;
    height: 50px;
}
