/* ------------------ category ------------------ */

.category-custom {
    z-index: 2 !important;
    background: var(--category_color);
    text-align: center !important;
    justify-content: center;
}

@media (max-width: 768px) {
    .category-custom {
        top: 80px;
        left: 0;
    }
}
@media (min-width: 768px) {
    .category-custom {
        top:8px;
        left: 0;
    }
}

.category-custom a{
    text-decoration: none;
    color: var(--category_font);
}
.accordion-custom:after{
    display: none !important;
}


.dropdown-custom{
    top: 110%;
    transform: translateX(-15px);
    list-style: none;
    align-items: center;
    background: var(--header_color);
}

.dropdown-custom a{
    font-size: 18px;
    padding: 8px;
}

.menu-custom:focus{
    outline: none !important;
    box-shadow: none !important;
}


.accordion_color {
    color: white;
    background-color: var(--accordion-color);
}


.bg-acc{
    background: var(--header_color);
}
