/* ------------------ footer ------------------ */

footer{
    background-color: var(--footer_color);
    color: var(--footer_text);
    margin-top: 100px;
    width: 100%;
    padding: 20px;
}

footer p{
    line-height: 1;
}

footer h2{
    margin: 10px;
}
