/* ------------------ header ------------------ */
.header-custom{
    background: var(--header_color);
}

.header-custom a{
    color: var(--header_font);
}

.header-custom a:hover{
    color: var(--hover_color1);
    transition: all 0.3s ease 0s;
}

.logo-p{
    color: var(--font_logo);
    line-height: 1;
}

input {
    background: var(--input_color) !important;
    height: 30px;
}

input::placeholder {
    color: var(--input_font) !important;
}

.link-custom{
    text-decoration:none;
}
