/* ------------------ header ------------------ */
.header-custom{
    background: var(--header_color);
}

/*pt1*/
.logo{
    /*display:flex;*/
    /*align-items: center;*/
    /*cursor:pointer;*/
    /*flex-basis: 20%;*/
    /*padding: 10px 2%;*/
    /**/
}

.logo-p{
    color: var(--font_logo);
}
/*pt2*/
.head-center{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-basis: 60%;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.nav_help{
    /*display: inline-flex;*/
    /*list-style: none;*/
}

.nav_help a{
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*font-size: 18px;*/
    /*text-decoration: none;*/
    /*color: var(--header_font);*/
    /*transition: all 0.3s ease 0s;*/
}

.nav_help a:hover{
    /*color: var(--hover_color1);*/
}

input {
    background: var(--input_color) !important;
    /*transition: all 0.3s ease-in-out;*/
}

input::placeholder {
    /*color: var(--input_font);*/
}

/*pt3*/
.links-custom a{
    text-decoration:  none !important;
    /*padding: 0;*/
}

.nav_links ul{
    /*display: flex;*/
    /*gap: 10px;*/
    /*flex-wrap: nowrap;*/
    /*padding: 0 20px;*/
    /*white-space: nowrap;*/
}

.nav_links li{
    /*display:inline-block;*/
    /*padding-left: 30px;*/
}

.nav_links a {
    /*text-decoration: none;*/
    /*color: var(--header_font);*/
    /*transition: all 0.3s ease 0s;*/
}

.nav_links a:hover{
    /*color: var(--hover_color1);*/
}
