.but-back{
    height: 40px;
}

.circle-custom{
    height: 60px;
    width: 60px;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}
.cart-product{
    margin-bottom: 20px;
    background: #e3e3e3;
    border-radius: 10px;
    margin-left: 5%;
}
.cart-prod-txt{
    max-width: 300px;
}

.cart-prod-cost{
    padding-right: 30px;
    padding-top: 5px;
    font-size: 26px;
}

.fa-xmark{
    padding-right: 20px;
    font-size: 20px;
    opacity: 75%;
}

.cart-slider{
    margin-top: 40px;
    height: 400px;
}

/*cart_page_2*/
.cart-slider::-webkit-scrollbar {
    display:none;
}

.total-custom{
    margin-bottom: -100px;
    height: 500px;
    width: 70%;
    background: grey;
}

.cart-pg{
    margin-top: 50px;
    padding-top: 20px;
}

.arrow-custom{
    width: 40px;
    background: transparent;
    border:none;
}