.breadcrumb {
    --bs-breadcrumb-divider-color: var(--font_color);  /* Farba oddeľovača */
}

.breadcrumb-item a {
    color: var(--font_color) !important; /* Zmení farbu odkazov */
    text-decoration: none; /* Odstráni podčiarknutie */
}

.product-detail {
    height: 95vh;
}