/* ------------------ main ------------------ */

.main{
    z-index: 100;
}

.grad{
    height: 100vh;
}

.grad h1{
    z-index: 1;
}

.produkty-container {
    overflow-x: auto;
}

/* Štýl kariet */
.produkt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 200px;

    background: var(--card_color);
    border-radius: 10px;
    flex-shrink: 0;
}

.zlava{
    margin-bottom: 20px;
}

.produkty-container::-webkit-scrollbar {
    display: none;
}

.container_pre_zlavy, .container_pre_platne{
    height: 300px;
}
