 .side-filter-custom{
     border-right: 1px solid #eaeaea;
     padding: 2%;
     width: 300px;
 }

 .main-f-custom{
     margin: 5px;
     color: var(--font_color);
 }

.thumb-custom::-webkit-slider-thumb {
     background: var(--slider-thumb);
 }

 .rating-color{
     color: #ffffff !important;
 }

 .rating-color2{
     color: #000000 !important;
 }

 .form-check-input {
     appearance: none;
     position: relative;
     border: 2px solid var(--login_color);
 }

 .form-check-input:checked {
     background-color: var(--login_color);
     border-color: var(--login_color);
 }

 .form-check-input:checked::before {
     content: "✓";
     color: var(--category_color);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .form-check-input:focus {
     outline: 2px solid var(--login_color);
     box-shadow: 0 0 4px var(--login_color);
 }

 .f-scroll{
     max-height: 180px;
 }

.float-filter-custom{
    top: 120px;
}

.off-custom{
    width: 350px !important;
}