.breadcrumb {
    --bs-breadcrumb-divider-color: var(--font_color);  /* Farba oddeľovača */
}

.breadcrumb-item a {
    color: var(--font_color) !important; /* Zmení farbu odkazov */
    text-decoration: none; /* Odstráni podčiarknutie */
}

.product-detail {
    width: 60vh;
}

.border-custom {
    border-color: var(--header_color);
    border-width: 10px !important;
}

.rating-color{
    color: #c5674b !important;
}