/* spolocne nastavenia pre cely subor */
@font-face {
    font-family: 'Jaini';
    src: url('../Jaini-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font_color: black;

    --header_color: #350115;
    --header_font: white;

    --hover_color: #0088a9;
    --input_border: #ccc;
    --input_color: #ffffff;

    --category_color: #ffffff;

    --bg_color1: #e4e4e4;
    --bg_color2: white;

    --footer_color: #cdcdcd;
    --footer_text: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jaini', cursive;
}





