@font-face {
    font-family: 'Jaini';
    src: url('Jaini-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jaini', cursive;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    font-size: 30px;
}

.logo{
    display:flex;
    align-items: center;
    cursor:pointer;
    flex-basis: 20%;
    padding: 10px 2%;
}

.logo p{
    padding-left: 10px;
    font-size: 30px;
    line-height: 1;
}

.nav_links{
    list-style: none;
    flex-basis: 20%;
}

.nav_links ul{
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    padding: 0 20px;
    white-space: nowrap;
}

.nav_links li{
    display:inline-block;
    padding-left: 30px;
}

.nav_links a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
}

.nav_links a:hover{
    color: #0088a9;
}

.nav_help{
    display: inline-flex;
    list-style: none;
}

.nav_help a{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    text-decoration: none;
    color:black;
}

.search{
    max-width: 600px;
    width:100%;
    display:flex;
    padding:0;
}

input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease-in-out;
}


.category {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    color: black;
    text-decoration: none;
    list-style: none;
    height: 70px;
    padding: 1%;
}

.category img {
    stroke: black;
}


main{
    flex:1;
}

.grad{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, lightgrey 0%, white 100%);
    text-align: center;
    line-height: 72px;
}


footer{
    background-color: lightgray;
    color: white;
    height: 100px;
    text-align: center;
    padding: 10px;
}
